{% comment %} 
  menu_item_thumb.liquid
  Dynamically handles link objects passed to it.

use this 
{% render 'menu_item_thumb', link: grandchildlink %}


{% endcomment %}

{% assign current_link = link %}

{% if current_link.url contains '/collections/' %}
  {% assign collection_handle = current_link.url | split: '/' | last %}
  {% assign collection = collections[collection_handle] %}
  {% if collection.image %}
    <div class="collectionImageContainer">
      <!-- Display the image using the img tag with https prepended -->
      <img width="" height="" src="https:{{ collection.image.src | image_url: width: 75 }}" alt="{{ collection.title | escape }}">
    </div>
  {% else %}
    <div class="collectionImageContainer">
      No image available.
    </div>
  {% endif %}
{% endif %}




{% if current_link.url contains '/products/' %}
{% assign product_handle = current_link.url | split: '/' | last %}
<div class="productImageContainer" data-handle="{{ product_handle }}">
  Loading...
</div>
{% endif %}




