
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-495861058032894857 .pointer-events-auto{pointer-events:auto}.gps-495861058032894857 .invisible{visibility:hidden}.gps-495861058032894857 .absolute{position:absolute}.gps-495861058032894857 .relative{position:relative}.gps-495861058032894857 .z-1{z-index:1}.gps-495861058032894857 .mx-auto{margin-left:auto;margin-right:auto}.gps-495861058032894857 .mb-0{margin-bottom:0}.gps-495861058032894857 .\!inline{display:inline!important}.gps-495861058032894857 .flex{display:flex}.gps-495861058032894857 .inline-flex{display:inline-flex}.gps-495861058032894857 .grid{display:grid}.gps-495861058032894857 .h-5{height:20px}.gps-495861058032894857 .h-full{height:100%}.gps-495861058032894857 .w-5{width:20px}.gps-495861058032894857 .w-full{width:100%}.gps-495861058032894857 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-495861058032894857 .animate-spin{animation:spin 1s linear infinite}.gps-495861058032894857 .flex-col{flex-direction:column}.gps-495861058032894857 .items-center{align-items:center}.gps-495861058032894857 .justify-center{justify-content:center}.gps-495861058032894857 .gap-y-0{row-gap:0}.gps-495861058032894857 .overflow-hidden{overflow:hidden}.gps-495861058032894857 .break-words{overflow-wrap:break-word}.gps-495861058032894857 .rounded-none{border-radius:0}.gps-495861058032894857 .no-underline{text-decoration-line:none}.gps-495861058032894857 .opacity-25{opacity:.25}.gps-495861058032894857 .opacity-75{opacity:.75}.gps-495861058032894857 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495861058032894857 .duration-200{transition-duration:.2s}.gps-495861058032894857 .duration-300{transition-duration:.3s}.gps-495861058032894857 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495861058032894857 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-495861058032894857 .hover\:text-g-bg-3:hover{color:var(--g-c-bg-3)}}.gps-495861058032894857 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-495861058032894857 .disabled\:opacity-30:disabled{opacity:.3}.gps-495861058032894857 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-495861058032894857 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-495861058032894857 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-495861058032894857 .\[\&_p\]\:inline p{display:inline}.gps-495861058032894857 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-495861058032894857 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-495861058032894857 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gWCvgguBRf"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(undefined);--pb:var(undefined);--pt-tablet:var(undefined);--pb-tablet:var(undefined);--cg:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWCvgguBRf mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4y7d-w470 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gdYiJdj4qR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mb:var(undefined);--mr:100px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--pt-tablet:var(--g-s-2xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:500px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdYiJdj4qR mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpj_fHU3V4 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gnEn7FXi5L "
        style="--tt:uppercase;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>NEW COLLECTION</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gqFsDBcc-g ">
      
    <div
      parentTag="Col"
        class="gqFsDBcc-g "
        style="--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:33px;--c:#242424;word-break:break-word"
        >
        <p>Ceramic Tableware for a perfect home-dining</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gy5TIjOSK_ "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--pr:100px;--pr-mobile:0px;--pr-tablet:120px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>Save 25% OFF on beautifully hand-glazed ceramics designed for every kind of meal.</p>
        </div>
      </div>
    </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--mb-mobile:var(--g-s-3xl);--ta:left"
    class=""
  >
    <style>
    .gcbmgpf3tr.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gcbmgpf3tr:hover::before {
      
      
    }
  </style>
    <a
      href="#" target="_self" data-id="gcbmgpf3tr" aria-label="Shop Now"
      data-state="idle"
      class="gcbmgpf3tr gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:text-g-bg-3"
      style="--hvr-bg:#242424;--bg:transparent;--hvr-c:var(--g-c-bg-3, bg-3);--c:#242424;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--w:220px;--w-tablet:220px;--w-mobile:220px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Shop Now
      </span>
    </a>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQEJ806Zcj relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g3h1iS8VD5"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:right;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:right;--ta-mobile:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/3f188377-735a-4706-8017-1ade0a4d0474/-/format/auto/-/preview/1024x1024/-/quality/lighter/banner.jpg" data-srcset="https://ucarecdn.com/3f188377-735a-4706-8017-1ade0a4d0474/-/format/auto/-/preview/1024x1024/-/quality/lighter/banner.jpg 768w,https://ucarecdn.com/3f188377-735a-4706-8017-1ade0a4d0474/-/format/auto/-/preview/1024x1024/-/quality/lighter/banner.jpg 1024w,https://ucarecdn.com/3f188377-735a-4706-8017-1ade0a4d0474/-/format/auto/-/preview/1024x1024/-/quality/lighter/banner.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1024" height="792" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1024/792;--aspect-tablet:1024/792;--aspect-mobile:1024/792;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-495861058032894857 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c0f01b-4/apps/bold/app/shopify/edit?pageType=GP_COLLECTION&editorId=495861056791381128&sectionId=495861058032894857)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
