.force-row {
    display: flex;
    align-items: center;
  }


ul.list-menu.list-menu--inline {
    background-color: rgba(255, 255, 255, 0.0);
    display: flex;
    justify-content: center;
}

.header__inline-menu {
    background-color: rgba(255, 255, 255, 0.0);
    width: 100%;
}

.color-background-2 {
    background-image: linear-gradient(to bottom, #00F4FF, #00F4FF);
}

.mega-menu__list {
    justify-content: flex-start !important;
}

.shopify-section-header-sticky .mega-menu__content {
    left: 50px;
    max-height: 250% !important;
    max-width: 93%;
  }

.page-width{
    max-width: 100%;
}

.header__search {
    margin-left: 30%;
}

.header__icons {
   margin-right: 30%;
}

